
machinelearning/data set/Q20-ZHOU-depth1-purne1.spydata
machinelearning/data set/Q20-ZHOU-depth1-purne0.spydata
machinelearning/data set/Q20-ZHOU-depth1-purne0-90000.spydata
machinelearning/data set/Q20-ZHOU-depth1-purne0-50000.spydata
machinelearning/data set/Q20-ZHOU-depth1-purne0-10000.spydata
